body{
	background:url(../image/main-bg.jpg) no-repeat center top;
	background-position: center center;
	-webkit-background-size:100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100vh;
    width: 100%;
    color: white;
    font-weight: 800;
    /*font-family: 'Roboto', sans-serif;*/
}
